.social-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2em;
        height: 2em;
        border-radius: 0.125em;
        background: $color-grey-2;
        padding: 0.25em;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        color: $color-0;
        transition: 180ms ease;
        text-decoration: none;

        &:hover,
        &:focus {
            opacity: 1;
            background: $color-2;
            color: #fff;
        }
    }
}
