.work {
    .container {
    }

    &-list {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto auto;
        grid-auto-flow: dense;
        grid-gap: 0.5em;
        margin-top: 3em;
    }

    &-item {
        position: relative;
        aspect-ratio: 3 / 2;
        background: $color-grey-1;
        border-radius: 0.125em;
        overflow: hidden;

        a {
            color: currentColor;

            &:hover,
            &:focus,
            &:focus-within {
                .details {
                    transform: scale(1);
                    opacity: 1;
                    visibility: visible;

                    .arrow i {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }
        }

        .image {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .details {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 2.5em;
            padding-bottom: 1.5em;
            transform: scale(0.8);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            z-index: 2;

            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: space-between;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $color-2;
                opacity: 0.9;
                z-index: -1;
            }

            .location {
                font-size: 0.95rem;
                font-weight: 600;
                margin-bottom: 0.5em;
                opacity: 0.9;

                i {
                    margin-right: 0.25em;
                    display: none;
                }
            }

            .name {
                position: relative;
                margin-bottom: 0;
                max-width: 60%;
                line-height: 1.2;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -1em;
                    left: 0;
                    width: 60px;
                    height: 0.25em;
                    background: $color-0;
                    opacity: 0.5;
                }
            }

            .arrow {
                font-size: 2rem;
                position: absolute;
                top: 50%;
                right: 1em;
                transform: translateY(-50%);
                color: $color-0;

                animation: arrow-move 1.5s ease-in-out infinite;

                @keyframes arrow-move {
                    0% {
                        transform: translate(-20px, -50%);
                        opacity: 0;
                    }
                    50% {
                        transform: translate(0, -50%);
                        opacity: 1;
                    }
                    100% {
                        transform: translate(20px, -50%);
                        opacity: 0;
                    }
                }
            }
        }

        &-lg {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 4;
            height: 100%;
            width: 100%;

            .details {
                padding: 5vw;

                .location {
                    font-size: 1.25rem;
                }

                .name {
                    font-size: 2vw;
                    max-width: 50%;
                }

                .arrow {
                    font-size: 2vw;
                }
            }
        }

        &-sm {
            grid-column: span 1;
            grid-row: span 1;
        }
    }

    .buttons {
        margin-top: 3em;
    }
}
