//Colors
$color-0: #262729;
$color-1: #8f1838;
$color-2: #b6872d;

$color-grey-1: #efeff0;
$color-grey-2: #cfd0d2;
$color-grey-3: #262729;

//Fonts
$font-0: 'Inter', sans-serif;
$font-1: 'Futura PT', sans-serif;

//Box Shadow
$box-shadow-1: 0 2px 4px 0 rgba(50, 50, 93, 0.1);
$box-shadow-2: 0 0.625em 1.25em rgba(35, 45, 75, 0.15);
$box-shadow-3: 0 7px 14px rgba(50, 50, 93, 0.11), 0 3px 6px rgba(0, 0, 0, 0.08);

//Transitions
$transition-1: 250ms ease;

//Sizing
$container-width: 1280px; //Sizing of the section .container as well as .column containers
